@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	background-color: rgb(69, 69, 69);
}

main {
	background-color: white;
	padding: 1em;
	margin: 3em auto;
	max-width: 35em;
	min-height: 35em;
	border-radius: 10px;
	box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.495);
}

h1 {
	color: darkgoldenrod;
}

a, a:visited {
	color: rgb(34, 34, 34);
	font-weight: bolder;
}

a:hover {
	text-decoration: none;
	color: darkgoldenrod;
}